*{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
.posSticky{
    background-color: lightblue;
    border-radius: 10px;
    margin: .5rem;
    padding: 1rem;
    position: sticky;
    top: 10px;

}